<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bingo_wholesale.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
				<key>dateExpires</key>
				<string>30/11/23</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>513D88DBEC81B2A85F020DF3AE978F5FD70E6ABE</string>
						<key>dateExpires</key>
						<string>30/11/23</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63MX6YV7DM</string>
						<key>name</key>
						<string>Clockwise Development LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>63MX6YV7DM.com.app.bingo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>63MX6YV7DM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0ca585a-1cec-4b04-9426-73ac87108893</string>
				<key>dateExpires</key>
				<string>30/11/23</string>
				<key>name</key>
				<string>Production bundle dev build</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>63MX6YV7DM</string>
				<key>name</key>
				<string>Clockwise Development LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
